// reference for theme colors
$white: #fff;
$black: #000;

// Base
$text: #1b1e21;
$background: #fff;
$primary: #076873;
$secondary: #1B98A6;
$accent: #F2055C;
$muted: #eee;

// dark
$text: #fff;
$background: #1b1e21;
$secondary: #076873;
$primary: #1B98A6;
$accent: #F2055C;
$muted: #333;

// retro
/* Color Theme Swatches in Hex */
$primary: #016F94;
$secondary: #032859;
$background: #FFE4B6;
$muted: #FFB06D;
$text: #1b1e21;

$accent: #FE6A2C;